services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bamlo_app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment: []
